<h1>Create a booking</h1>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Book an appointment</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Full Name</label>
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="emailaddress">Email Address</label>
  <div class="col-md-4">
  <input id="emailaddress" name="emailaddress" type="text" placeholder="" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="phone">Phone Number</label>
  <div class="col-md-4">
  <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" required="">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="tourselection">Service Type</label>
  <div class="col-md-4">
    <select id="tourselection" name="tourselection" class="form-control">
      <option value="1">Haircut</option>
      <option value="2">The Gentlemens Cut</option>
      <option value="3">Beard Trim</option>
      <option value="4">Kids Haircut</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="tourselection">Attendant</label>
  <div class="col-md-4">
    <select id="tourselection" name="tourselection" class="form-control">
      <option value="1">Alim</option>
      <option value="2">Amin</option>
      <option value="3">Aryan</option>
      <option value="4">Reshma</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="tourselection">Number of people</label>
  <div class="col-md-4">
    <select id="tourselection" name="tourselection" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dateselection">Date</label>
  <div class="col-md-4">
  <input id="dateselection" name="dateselection" type="date" placeholder="" class="form-control input-md">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="timeselect">Time</label>
  <div class="col-md-4">
    <select id="timeselect" name="timeselect" class="form-control">
      <option value="1">9:45a</option>
      <option value="2">12p</option>
      <option value="3">2p</option>
      <option value="4">4p</option>
    </select>
  </div>
</div>



</fieldset>
</form>
