<div class="container">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class=""><a href="/" routerLink="/">Welcome <span class="sr-only">(current)</span></a></li>
      <li class=""><a href="/donna" routerLink="/donna">Donna Home </a></li>
      <li class=""><a href="/view-bookings" routerLink="/view-bookings">All Bookings </a></li>
      <li class=""><a href="/calendar" routerLink="/calendar">Calendar  </a></li>
      <li class=""><a href="/add-booking" routerLink="/add-booking">Add new booking  </a></li>
      <li class=""><a href="/set-hours" routerLink="/set-hours">Barber Set Hours  </a></li>
    </ul>
  </div>

    <div class="row">
      <h1>Bot Demo. Make an appointment.</h1>
        <div class="col-lg-5">
            <iframe src="https://convbot.hellotars.com/conv/Hy3E4D/" height="800" width="500"></iframe>
        </div>
        <div class="col-lg-5 col-lg-offset-1">
          <h1>Donna @ The Gentlemen's Barber Shop</h1>
          <h2>She can be embedded to an existing webpage, or on a dedicated page on our domain.</h2>
        </div>
    </div>
</div>


<a id="tars-widget-fab" class="fab bounce closed" data-convid="Hy3E4D" data-autoopen="5" href="https://convbot.hellotars.com/conv/Hy3E4D" target="_blank" style="position:fixed;background-color:#0084ff;z-index:2147483647;width:62px;height:62px;cursor:pointer;border-radius:6px;box-shadow:0 2px 6px 0 rgba(0,0,0,.4);overflow:hidden;padding:0;border:0;bottom:4%;right:30px"><img class="convbot" src="https://tars-file-upload.s3.amazonaws.com/share/img/baso_300.png" convbot-color="#FFFFFF" style="width:100%"></a><script>(function(){var js,fs,d=document,id="tars-widget-script",b="https://tars-file-upload.s3.amazonaws.com/share/";if(!d.getElementById(id)){js=d.createElement("script");js.id=id;js.type="text/javascript";js.src=b+"js/widget.js";fs=d.getElementsByTagName("script")[0];fs.parentNode.insertBefore(js,fs)}})();</script>
