<div class="container">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class=""><a href="/" routerLink="/">Welcome <span class="sr-only">(current)</span></a></li>
      <li class=""><a href="/donna" routerLink="/donna">Donna Home </a></li>
      <li class=""><a href="/view-bookings" routerLink="/view-bookings">All Bookings </a></li>
      <li class=""><a href="/calendar" routerLink="/calendar">Calendar  </a></li>
      <li class=""><a href="/add-booking" routerLink="/add-booking">Add new booking  </a></li>
      <li class=""><a href="/set-hours" routerLink="/set-hours">Barber Set Hours  </a></li>
    </ul>
  </div>
</div>

<h1>View bookings</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Booking #</th>
      <th>Full Name</th>
      <th>Phone Number</th>
      <th>Service</th>
      <th>Attendant</th>
      <th>Date</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><button class="btn btn-primary">Edit</button><button class="btn btn-primary">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><button class="btn btn-primary">Edit</button><button class="btn btn-primary">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><button class="btn btn-primary">Edit</button><button class="btn btn-primary">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><button class="btn btn-primary">Edit</button><button class="btn btn-primary">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><button class="btn btn-primary">Edit</button><button class="btn btn-primary">Delete</button></td>
    </tr>
  </tbody>
</table>
